<!DOCTYPE html>
<html lang="ko">

<head>
    <% include head %>
</head>

<body>
    <header class="main" style="background-image: url(<%= authorImageURL %>);">
        <div class="container-fluid h-100" style="backdrop-filter: blur(10px) brightness(25%);">
            <div class="row align-items-center h-75">
                <div class="col text-start ms-5">
                    <h3 class="text-white"><%= cafeName %> • <%= boardName ><br></h3>
                    <h1 class="text-white"><%= title %><br></h1>
                    <p class="lead text-white-50"><%= creationDate %> • 읽는 데 <% readingMinutes %>분 • ❤️<%= likes %> 💬<%= Comments %><br></p>
                </div>
            </div>
            <div class="row align-items-center mb-5">
                <div class="col-1 offset-0 ms-5"><img src="<%= thumbnailImageURL %>"></div>
                <div class="col text-start text-white">
                    <h1><%= authorName %></h1>
                    <p class="lead"> <%= Author Role %></p>
                </div>
            </div>
        </div>
    </header>
    <% include scripts %>
</body>

</html>